body {
    background-color: lightgrey;
}

.jumbotron {
    padding-top: 7rem;
    background-color: rgb(92, 100, 96);
    color: white;
}

#project {
    background-color: rgb(92, 100, 96);
}

.text-project,
.text-skill {
    color: white;
}

section {
    padding-top: 6rem;
}

.gallery-img {
    width: 100%;
}

#gallery .row>* {
    padding: 0;
}

/* My Skills Section */
.skill-box {
    position: relative;
    background-color: Black;
    border-radius: 10px;
    height: 500px;
    transform-style: preserve-3d;
}

.skill-box::before {
    content: 'MY';
    position: absolute;
    color: white;
    font-size: 6em;
    font-weight: bold;
    font-style: italic;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.skill-box:hover::before {
    opacity: 0.7;
}

.skill-box::after {
    content: 'SKILLS';
    position: absolute;
    color: white;
    font-size: 4.3em;
    font-weight: bold;
    font-style: italic;
    top: 350px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 0.5s;
}

.skill-box:hover::after {
    opacity: 0.7;
}

.skill-name {
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    transform: translate3d(0, 0, 50px);
    transition: 0.5s;
}

.skill-box:hover .skill-name {
    top: 20px;
    opacity: 1;
}

.skill-detail-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 50px);
    opacity: 0;
    transition: 0.5s;
}

.skill-box:hover .skill-detail-button {
    opacity: 1;
    bottom: 20px;
}

.skill-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 100px);
    max-width: 200px;
    transition: 0.5s;
}

.skill-box:hover .skill-img {
    transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);

}